html, body {
    min-height: 100%;
    min-width: 100%;
    background-color: rgb(75,75,75);
    display: flex;
    margin: 0;
    font-family: Calibri, serif;
}

.left, .right {
    padding: 50px 30px;
}

.left {
    margin: 0 0 0 auto;
    background-color: rgb(230,230,230);
    width: 250px;
}

.right {
    margin: 0 auto 0 0;
    background-color: white;
    width: 450px;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

.crop {
    width: 200px;
    height: 220px;
    overflow: hidden;
    display: block;
    margin: 30px auto;
}

.crop img {
    width: 270px;
    height: 405px;
    margin: -15px 0 0 -30px;
}

h2, hr {
    margin: 0;
}

p, ul, ol {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

h2 {
    font-weight: 300;
    font-size: 28px;
}

ul.half {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.3em;
    gap: 0 1.3em;
}

ul.half li {
    flex: calc(50% - 0.65em);
    margin: auto 0;
}

ul.half li.full {
    flex: 100%;
}
